@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 203 0% 100%;
    --foreground: 203 0% 10%;
    --card: 203 0% 100%;
    --card-foreground: 203 0% 15%;
    --popover: 203 0% 100%;
    --popover-foreground: 203 95% 10%;
    --primary: 203 0% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 203 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 165 10% 95%;
    --muted-foreground: 203 0% 40%;
    --accent: 165 10% 90%;
    --accent-foreground: 203 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 203 0% 100%;
    --border: 203 20% 82%;
    --input: 203 20% 50%;
    --ring: 203 0% 45%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 203 10% 10%;
    --foreground: 203 0% 100%;
    --card: 203 0% 10%;
    --card-foreground: 203 0% 100%;
    --popover: 203 10% 5%;
    --popover-foreground: 203 0% 100%;
    --primary: 203 0% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 203 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 165 10% 25%;
    --muted-foreground: 203 0% 65%;
    --accent: 165 10% 25%;
    --accent-foreground: 203 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 203 0% 100%;
    --border: 203 20% 50%;
    --input: 203 20% 50%;
    --ring: 203 0% 45%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .input-currency {
    @apply flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
  }
}
